{% extends 'main/layout.html' %}
{% block title %}{{ statistic.title }}{% endblock  %}

{% block content %}
 <div class="features">
 <h1>{{ statistic.title }}</h1>
  <p>{{ statistic.date  }}</p>
  <p>{{ statistic.full_text }}</p>
  <iframe
  src="https://player.vdocipher.com/v2/?otp=[[REPLACE_WITH_OTP]]&playbackInfo=[[REPLACE_WITH_PLAYBACKINFO]]"
  style="border:0;width:720px;height:405px"
  allow="encrypted-media"
  allowfullscreen
></iframe>

    {% if statistic.video %}
<iframe width="560" height="315" src="{{ statistic.video }}" frameborder="0" allowfullscreen></iframe>
    {% endif %}



</div>
{% endblock  %}